@model Entity.Models.Resim

@{
    ViewBag.Title = "CreateResim";
}
<style>
     body {
        background-image: url('../../Content/b2yeni.png');       
    }
     .btn-primary{width:80px;height:40px;}
</style>
@using (Html.BeginForm("CreateResim", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
<h2>Resim Ekle</h2>


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Resim</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ResimYolu, htmlAttributes: new { @class = "control-label col-md-2" })
            <input name="resimm" type="file" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Resim Ekle" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
